/*
hello Aditya
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Domine&family=PT+Serif:ital,wght@0,400;1,700&family=Patua+One&display=swap');
*,html,body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-size: 16px;
    display: block;
}
.wrapper{
    width: 100%;
    max-width: 1366px;
    min-height: 100vh;

}

.container{
    width: 98%;
    min-height: inherit;
    height: 100%;
    margin: 0 auto;
}