/*
hello Aditya
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Domine&family=PT+Serif:ital,wght@0,400;1,700&family=Patua+One&display=swap');
*,html,body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-size: 16px;
}
.wrapper{
    width: 100%;
    max-width: 1366px;
    min-height: 100vh;

    header{
        width: 100%;
        height: 100px;
        background-color: rgb(255, 255, 255);
        .topNav-section{
            background-color: #000;
            height: 30px;
            .top-nav {
                width: 100%;
                height: 100%;

                ul {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    line-height: 30px;

                    li {
                        margin-right: 20px;

                        a {
                            color: #fff;
                            font-family: 'Domine', serif;
                            font-weight: 300;
                            font-size: 1vw;
                            letter-spacing: 1px;
                        }
                    }

                    li:hover{
                        a{
                            color: pink;
                        }
                    }
                }
            }
        }

        .main-header{
            width: 100%;
            height: 70px;
            background-color: #ffffff;
            box-shadow: 0px 1px 3px #cecece;

            .logo-section{
                width: 20%;
                height: 100%;
                float: left;
                display: flex;
                justify-content: center;
                align-items: center;
                .logo{
                    width: 55%;
                    height: 100%;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .mainNav-section{
                width: 80%;
                height: 100%;
                float: left;

                ul{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    li{
                        a{
                            font-family: 'Patua One', cursive;
                            text-transform: uppercase;
                            font-size: 1.4vw;
                            font-weight: 400;
                            color: #000000;
                            letter-spacing: 1px;
                        }
                    }

                    li:hover{
                        
                        border-bottom: 2px solid #000000;
                    }
                }
            }
        }
    }

    .content-section{
        width: 100%;
        min-height: 25em;
        .main-area{
            width: 100%;
            height: 100%;
            margin-top: 2em;
            display: grid;
            grid-template-areas: "c c c c c c c c . s s s"
            "f f f f f f  f f f f f f";

            .content-area{
                grid-area: c;
                min-height: 5em;
                .content-container{
                    width: 100%;
                    height: 20em;
                    overflow: hidden;
                    border: 1px solid #cecece;
                    padding: 2px;
                    display: grid;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    grid-template-areas: "l l a a a a a a a a a a";
                    .latest-post{
                        grid-area: l;
                        height: inherit;
                        padding: 5px;
                        .latest-post-img{
                            width: 100%;
                            height: 80%;

                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .latest-post-content{
                            width: 100%;
                            height: 30%;

                            .latest-p-content-title{
                                width: 90%;
                                margin: 0 20px;
                                overflow: hidden;
                                h1{
                                    font-size: 1.3vw;
                                    font-family: 'PT Serif', serif;
                                    text-transform: uppercase;
                                    letter-spacing: 0.5px;
                                    max-lines: 2;
                                }
                            }

                            .latest-post-content-data{
                                width: 50%;
                                height: 20px;
                                line-height: 20px;
                                display: flex;
                                flex-direction: row;
                                flex-flow: wrap;
                                padding-left: 20px;
                                text-align: center;

                                .latest-post-auther{
                                    
                                    p{
                                        letter-spacing: 0.5px;
                                        font-weight: 500;
                                        font-size: 1vw;
                                    }
                                }

                                .latest-post-date{
                                    margin-left: 5px;
                                    p{
                                        font-weight: 200;
                                        font-size: 0.8vw;
                                    }
                                }
                            }
                        }
                    }

                    .main-alt-post{
                        grid-area: a;
                        height: 100%;
                    }
                }
            }
            .sidebar-section{
                grid-area: s;
                min-height: 20em;
                background-color: yellow;
            }
            .footer-section{
                grid-area: f;
                height: 2em;
                background-color: pink;
            }
        }
    }
}

.container{
    width: 98%;
    min-height: inherit;
    height: 100%;
    margin: 0 auto;
}