/*
hello Aditya
*/
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=DM+Sans&family=Domine:wght@400;700&family=Fjalla+One&family=Patua+One&display=swap");
*,
html,
body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 1366px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 95px minmax(100vh, auto) 75px;
      grid-template-rows: 95px minmax(100vh, auto) 75px;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-template-areas: "header" "main" "footer";
}

.wrapper header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.wrapper header .second-nav {
  width: 100%;
  height: 30%;
  background-color: #131111;
  overflow: hidden;
}

.wrapper header .second-nav .second-nav-items {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper header .second-nav .second-nav-items ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.wrapper header .second-nav .second-nav-items ul li {
  margin-right: 20px;
}

.wrapper header .second-nav .second-nav-items ul li a {
  font-family: domine;
  letter-spacing: 0.5px;
  color: white;
  font-size: 1vw;
  font-weight: bold;
}

.wrapper header .second-nav .second-nav-items ul li a:hover {
  color: #eec0c0;
}

.wrapper header .header-main-area {
  width: 100%;
  height: 70%;
  background-color: #ffffff;
  overflow: hidden;
}

.wrapper header .header-main-area .logo-area {
  width: 20%;
  height: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper header .header-main-area .logo-area .logo-container {
  width: 70%;
  height: 100%;
}

.wrapper header .header-main-area .logo-area .logo-container img {
  width: 100%;
  height: 100%;
}

.wrapper header .header-main-area .main-nav-area {
  width: 80%;
  height: 100%;
  float: left;
}

.wrapper header .header-main-area .main-nav-area ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper header .header-main-area .main-nav-area ul li {
  margin-right: 25px;
}

.wrapper header .header-main-area .main-nav-area ul li a {
  color: black;
  font-weight: 500;
  font-size: 1.5vw;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.wrapper header .header-main-area .main-nav-area ul li:hover {
  border-bottom: 2px solid black;
}

.wrapper .main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.wrapper .main .main-container {
  width: inherit;
  height: inherit;
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
  grid-column-gap: 20px;
      grid-template-areas: "content-section sidebar-section";
}

.wrapper .main .main-container .content-section {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content-section;
  height: 100%;
}

.wrapper .main .main-container .content-section .latest-post-section {
  width: 100%;
  height: 22em;
  background-color: #fff;
  padding-bottom: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
      grid-template-areas: "cpic apic";
}

.wrapper .main .main-container .content-section .latest-post-section .current-post-item-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cpic;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.wrapper .main .main-container .content-section .latest-post-section .current-post-item-container .current-post-item-img {
  width: 100%;
  height: 70%;
}

.wrapper .main .main-container .content-section .latest-post-section .current-post-item-container .current-post-item-img img {
  width: 100%;
  height: 100%;
}

.wrapper .main .main-container .content-section .latest-post-section .current-post-item-container .current-post-item-title {
  width: 100%;
  min-height: 5%;
  max-height: 15%;
  margin-bottom: 3px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main .main-container .content-section .latest-post-section .current-post-item-container .current-post-item-title h1 {
  color: #000;
  max-lines: 1;
  text-overflow: ellipsis;
  font-size: 1.5vw;
  letter-spacing: 0.3px;
  text-overflow: ellipsis;
  font-family: "Fjalla One", sans-serif;
}

.wrapper .main .main-container .content-section .latest-post-section .current-post-item-container .current-post-item-description {
  width: 100%;
  height: 40px;
  overflow: hidden;
}

.wrapper .main .main-container .content-section .latest-post-section .current-post-item-container .current-post-item-description P {
  text-overflow: ellipsis;
  font-size: 1.2vw;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #252525a6;
}

.wrapper .main .main-container .content-section .latest-post-section .current-post-item-container .current-post-item-details {
  width: 100%;
  height: 5%;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .main .main-container .content-section .latest-post-section .current-post-item-container .current-post-item-details .current-post-item-auther {
  margin-right: 20px;
}

.wrapper .main .main-container .content-section .latest-post-section .current-post-item-container .current-post-item-details .current-post-item-auther p {
  color: #000;
  font-weight: bold;
  font-size: 0.9vw;
  text-transform: uppercase;
}

.wrapper .main .main-container .content-section .latest-post-section .current-post-item-container .current-post-item-details .current-post-item-date {
  color: rgba(17, 15, 15, 0.678);
  font-weight: 300;
  font-size: 0.7vw;
  text-transform: capitalize;
}

.wrapper .main .main-container .content-section .latest-post-section .current-post-item-container:hover {
  -webkit-box-shadow: 1px 1px 3px #cecece, -1px -1px 3px #cecece;
          box-shadow: 1px 1px 3px #cecece, -1px -1px 3px #cecece;
}

.wrapper .main .main-container .content-section .latest-post-section .alt-post-items-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: apic;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  overflow: hidden;
  padding: 5px 3px;
  grid-row-gap: 1px;
}

.wrapper .main .main-container .content-section .latest-post-section .alt-post-items-container .alt-post-item {
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow: hidden;
  cursor: pointer;
}

.wrapper .main .main-container .content-section .latest-post-section .alt-post-items-container .alt-post-item .alt-post-item-img {
  width: 50%;
  height: 100%;
  float: left;
}

.wrapper .main .main-container .content-section .latest-post-section .alt-post-items-container .alt-post-item .alt-post-item-img img {
  width: 100%;
  height: 100%;
}

.wrapper .main .main-container .content-section .latest-post-section .alt-post-items-container .alt-post-item .alt-post-details {
  width: 50%;
  height: 100%;
  float: left;
  padding-left: 3px;
}

.wrapper .main .main-container .content-section .latest-post-section .alt-post-items-container .alt-post-item .alt-post-details .alt-post-title {
  width: 100%;
  height: 30%;
  overflow: hidden;
  border-bottom: 0.5px solid #9c9c9c;
}

.wrapper .main .main-container .content-section .latest-post-section .alt-post-items-container .alt-post-item .alt-post-details .alt-post-title h1 {
  font-size: 1.3vw;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-overflow: ellipsis;
}

.wrapper .main .main-container .content-section .latest-post-section .alt-post-items-container .alt-post-item .alt-post-details .alt-post-description {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.wrapper .main .main-container .content-section .latest-post-section .alt-post-items-container .alt-post-item .alt-post-details .alt-post-description p {
  font-family: dm sans;
  font-weight: 300;
  font-size: 1vw;
  color: #494949;
  text-overflow: ellipsis;
}

.wrapper .main .main-container .content-section .latest-post-section .alt-post-items-container .alt-post-item .alt-post-details .alt-post-info {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main .main-container .content-section .latest-post-section .alt-post-items-container .alt-post-item .alt-post-details .alt-post-info .alt-post-auther {
  float: left;
}

.wrapper .main .main-container .content-section .latest-post-section .alt-post-items-container .alt-post-item .alt-post-details .alt-post-info .alt-post-auther p {
  font-size: 0.7vw;
  font-weight: bolder;
  letter-spacing: 0.5px;
  color: #000000;
  text-transform: uppercase;
}

.wrapper .main .main-container .content-section .latest-post-section .alt-post-items-container .alt-post-item .alt-post-details .alt-post-info .alt-post-date {
  float: left;
  margin-left: 5px;
}

.wrapper .main .main-container .content-section .latest-post-section .alt-post-items-container .alt-post-item .alt-post-details .alt-post-info .alt-post-date p {
  color: #747474;
  font-weight: 300;
  font-size: 0.8vw;
  text-transform: uppercase;
}

.wrapper .main .main-container .content-section .latest-post-section .alt-post-items-container .alt-post-item:hover {
  -webkit-box-shadow: 1px 2px 3px #cecece, 0px -2px 3px #cecece;
          box-shadow: 1px 2px 3px #cecece, 0px -2px 3px #cecece;
  border-radius: 3px;
}

.wrapper .main .main-container .content-section .other-post-section {
  margin-top: 20px;
  width: 100%;
  min-height: 25em;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
      grid-template-areas: "l r";
}

.wrapper .main .main-container .content-section .other-post-section .left-other-post-section {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: l;
}

.wrapper .main .main-container .content-section .other-post-section .right-other-post-section {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: r;
}

.wrapper .main .main-container .sidebar-section {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: sidebar-section;
  background-color: chartreuse;
  height: 100%;
  -webkit-box-shadow: 1px 1px 5px #dedede;
          box-shadow: 1px 1px 5px #dedede;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(100px, 350px) 200px;
      grid-template-rows: minmax(100px, 350px) 200px;
}

.wrapper .main .main-container .sidebar-section .popular-posts-sidebar {
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.wrapper .main .main-container .sidebar-section .popular-posts-sidebar .popular-posts-heading {
  width: 100%;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.wrapper .main .main-container .sidebar-section .popular-posts-sidebar .popular-posts-heading h3 {
  font-size: 1.3vw;
  color: white;
}

.wrapper .main .main-container .sidebar-section .popular-posts-sidebar .popular-posts-items {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper .main .main-container .sidebar-section .popular-posts-sidebar .popular-posts-items ul {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (20px)[auto-fill];
      grid-template-rows: repeat(auto-fill, 20px);
  grid-row-gap: 10px;
  padding: 5px 10px;
  overflow: hidden;
}

.wrapper .main .main-container .sidebar-section .popular-posts-sidebar .popular-posts-items ul li {
  width: 100%;
  height: 20px;
  overflow: hidden;
  padding: 0.5px 5px;
  border-radius: 3px;
  border: 0.5px solid rgba(134, 134, 134, 0.493);
}

.wrapper .main .main-container .sidebar-section .popular-posts-sidebar .popular-posts-items ul li a {
  color: #2d2e2e;
  font-size: 1vw;
  font-weight: 400;
  letter-spacing: 1px;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.wrapper .main .main-container .sidebar-section .popular-posts-sidebar .popular-posts-items ul li:hover {
  background-color: black;
  cursor: pointer;
}

.wrapper .main .main-container .sidebar-section .popular-posts-sidebar .popular-posts-items ul li:hover a {
  color: white;
}

.wrapper footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: rgba(70, 32, 100, 0.74);
  margin: 10px 0px;
}

.wrapper footer .copyright-area {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

.wrapper footer .copyright-area a {
  font-size: 1.4vw;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.wrapper footer .footer-menu-link-area {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

.wrapper footer .footer-menu-link-area ul {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper footer .footer-menu-link-area ul li a {
  color: white;
  font-size: 0.9vw;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.wrapper footer .footer-menu-link-area ul li a:hover {
  color: #fcdfe4;
}

.other-post-tag-section {
  width: 100%;
  min-height: 30em;
  line-height: 100%;
  padding: 10px 5px;
}

.other-post-tag-section .tag-post-heading {
  width: 100%;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.other-post-tag-section .tag-post-heading .post-tag-title {
  width: 30%;
  height: 100%;
  float: left;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
}

.other-post-tag-section .tag-post-heading .post-tag-title a {
  font-size: 1.3vw;
  color: #fff;
  font-weight: bolder;
  letter-spacing: 1px;
}

.other-post-tag-section .tag-post-heading .border-line {
  width: 70%;
  float: left;
  height: 5px;
  background-color: #000;
}

.other-post-tag-section .tag-post-items {
  width: 100%;
  min-height: 100px;
  padding: 20px 0px;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
  -ms-grid-rows: (minmax(100px, 1fr))[3];
      grid-template-rows: repeat(3, minmax(100px, 1fr));
}

.other-post-tag-section .tag-post-items .tag-post-item-container {
  width: 100%;
  height: 10em;
  background-color: #ffffff;
  padding: 4px;
  overflow: hidden;
  border-radius: 3px;
}

.other-post-tag-section .tag-post-items .tag-post-item-container .item-thumbnail {
  width: 40%;
  height: 100%;
  float: left;
}

.other-post-tag-section .tag-post-items .tag-post-item-container .item-thumbnail img {
  width: 100%;
  height: 100%;
}

.other-post-tag-section .tag-post-items .tag-post-item-container .item-data-container {
  width: 60%;
  height: 100%;
  float: left;
  padding-left: 10px;
}

.other-post-tag-section .tag-post-items .tag-post-item-container .item-data-container .item-data-title {
  width: 100%;
  height: 25%;
  overflow: hidden;
  border-bottom: 0.5px solid #000;
}

.other-post-tag-section .tag-post-items .tag-post-item-container .item-data-container .item-data-title h1 {
  text-overflow: ellipsis;
  color: #000;
  font-size: 1.3vw;
}

.other-post-tag-section .tag-post-items .tag-post-item-container .item-data-container .item-data-desciption {
  width: 100%;
  height: 55%;
  overflow: hidden;
  padding-top: 5px;
}

.other-post-tag-section .tag-post-items .tag-post-item-container .item-data-container .item-data-desciption p {
  text-overflow: ellipsis;
  color: #5a5a5a;
  font-size: 1vw;
}

.other-post-tag-section .tag-post-items .tag-post-item-container .item-data-container .item-data-details {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.other-post-tag-section .tag-post-items .tag-post-item-container .item-data-container .item-data-details .item-data-auther p {
  letter-spacing: 0.1px;
  font-weight: bold;
  font-size: 0.7vw;
  text-transform: uppercase;
}

.other-post-tag-section .tag-post-items .tag-post-item-container .item-data-container .item-data-details .item-data-date {
  margin-left: 10px;
}

.other-post-tag-section .tag-post-items .tag-post-item-container .item-data-container .item-data-details .item-data-date p {
  font-size: 0.9vw;
  font-weight: 300;
  color: #747474;
}

.other-post-tag-section .tag-post-items .tag-post-item-container:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 8px #cecece, -2px -2px 8px #cecece;
          box-shadow: 2px 2px 8px #cecece, -2px -2px 8px #cecece;
}

.other-post-tag-section .tag-more-content {
  width: 100%;
  height: 3em;
  padding-right: 10px;
}

.other-post-tag-section .tag-more-content a {
  float: right;
  color: #221fdb;
  border-radius: 3px;
  font-size: 1.2vw;
  font-style: oblique;
  text-decoration: underline;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  width: 98%;
  min-height: inherit;
  height: 100%;
  margin: 0 auto;
}

.border-bottom {
  border-bottom: 0.5px solid rgba(117, 117, 117, 0.418);
}

.header-sticky {
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-shadow: -2px 0px 3px 0px #cecece;
          box-shadow: -2px 0px 3px 0px #cecece;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=style.css.map */