@import '../style/foundation/root';
@import '../style/foundation/container';
@import '../style/foundation/flex';
@import './template/header';

.wrapper{
    width: 100%;
    max-width: 1366px;
    min-height: 100vh;

    @include header();
}