@import '../style/foundation/root';
@import '../style/foundation/container';
@import '../style/foundation/flex';
@import './template/header';
@import './template/single-page/main-area';
@import './template/footer';

.wrapper{
    width: 100%;
    max-width: 1366px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 95px minmax(100vh, auto) 75px;
    grid-template-columns: 100%;
    grid-template-areas: "header"
    "main-area"
    "footer";
    @include header();
    @include mainArea();
    @include footer();
}