@mixin postSection {
    .post-section{
        grid-area: post-section;
        width: inherit;
        height: inherit;
        background-color: #fff;


        .post-container{
            width: inherit;
            height: inherit;
            padding: 0 1em;

            .post-heading{
                width: 100%;
                min-height: 4em;
                border-bottom: 0.5px solid rgba(104, 104, 104, 0.678);
                @include flexVrCenter();

                h1{
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                }
            }

            .post-content{
                width: 100%;
                padding: 1em 0 0 0;

                h2,h3,h4,h5,h6{
                    font-size: 2vw;
                    margin-top: 10px;
                    margin-bottom: 15px;
                    text-transform: none;
                    word-wrap: break-word;
                    word-break: break-all;
                }

                img{
                    width: 100%;
                    height: 25em;
                    object-fit: cover;
                }

                p{
                    width: inherit;
                    line-height: 1.6em;
                    margin-bottom: 2.5em;
                    word-break: break-all;
                    color: hsl(207, 1, 25%);

                    &:last-child {
                        margin-bottom: 0em;
                    }
                }

                
            }
        }

    }
}