@mixin postSection {
    .post-section{
        grid-area: post-section;
        width: inherit;
        height: inherit;
        background-color: #fff;


        .post-container{
            width: inherit;
            height: inherit;
            padding: 0 1em;

            .post-heading{
                width: 100%;
                min-height: 4em;
                border-bottom: 0.5px solid rgba(104, 104, 104, 0.678);
                @include flexVrCenter();

                h1{
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                }
            }

            .post-content{
                width: 100%;
                padding: 1em 0 0 0;

                h2,h3,h4,h5,h6{
                    font-size: 2vw;
                    margin-top: 10px;
                    margin-bottom: 15px;
                    text-transform: none;
                    word-wrap: break-word;
                    word-break: break-all;
                }

                img{
                    width: 100%;
                    height: 25em;
                    object-fit: cover;
                }

                p{
                    width: inherit;
                    line-height: 1.6em;
                    margin-bottom: 2.5em;
                    word-break: break-all;
                    color: hsl(207, 1, 25%);

                    &:last-child {
                        margin-bottom: 0em;
                    }
                }

                
            }

            .post-tags{
                border: 1px;
                width: 100%;
                height: 5em;
                @include flexVrCenterStart();

                .tag-img{
                    width: 5%;
                    float: left;
                }

                .tag-items{
                    width: 95%;
                    height: inherit;
                    float: left;

                    ul{
                        height: 100%;
                        width: 100%;
                        @include flexVrCenterStart();
                        li{
                            margin-left: 10px;
                            padding: 5px 10px;
                            border-radius: 2px;
                            background-color: #000;
                            a{
                                color: white;
                                text-transform: uppercase;
                                font-size: 0.8vw;
                                letter-spacing: 1px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }

            .auther-details{
                width: 100%;
                height: 10em;

                .auther-info{
                    width: 20%;
                    height: 100%;
                    float: left;
                    overflow: hidden;

                    @include flexCenter();
                    
                    flex-flow: column nowrap;

                    .auther-pic{
                        width: 6em;
                        height: 6em;
                        border-radius: 50%;
                        border: 2px solid rgb(250, 210, 210);
                        overflow: hidden;
                        object-fit: fill;

                        img{
                            width: 100%;
                            height: 100%;
                            
                        }
                    }

                    .auther-name{
        
                        p{
                            font-weight: bold;
                            font-size: 1.2vw;
                            letter-spacing: 0.5px;
                        }
                    }
                }

                .auther-social{
                    width: 80%;
                    height: 100%;
                    float: left;
                }
            }
        }

    }
}